﻿
@model IEnumerable<NMEX_Manufacturing_KPIs.Models.Module_Inventory.Inventory>
@{
    ViewData["Title"] = "Inventory";
    int i = 1;
}
<style>
	.btn_trash {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
</style>


<h1 style="margin-top: 25px;">NMEX Manufacturing KPIs \ Inventory</h1>
<br/>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <a class="btn btn-dark" asp-action="DeviceType">Manage Devices</a>
    <a class="btn btn-dark" asp-action="Version">Manage Versions</a>
    <a class="btn btn-dark" asp-action="Model">Manage Models</a>
    <a class="btn btn-dark" asp-action="Location">Manage Locations</a>
    
@* ADMIN USER *@

</div>
<br/>

<a asp-action="CreateInventoryRecord" class="btn btn-dark">New record</a>

<a asp-action="FilterByPlant" class="btn btn-dark mt-5px">Filter by plant</a>

<a asp-action="InventoryRecordExcel" class="btn btn-success">Excel</a>



<table class="table">
    <thead>
        <tr>
            <th>#</th>
			<th>Device Type</th>
			<th>Model</th>
            <th>Serial No.</th>
			<th>Version</th>
            <th>Plant</th>
            <th>Location</th>
            <th>Purchase Date</th>
            <th>Accions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var recordInventory in Model)
        {
                <tr>
                    <td>
                        @i
                    </td>
					<td>
                       @recordInventory.DeviceType
                    </td>
					<td>
                        @recordInventory.Model
                    </td>
                    <td>
                        @recordInventory.SerialNo
                    </td>                   
                    <td>
                        @recordInventory.Version
                    </td>
					<td>
                        @recordInventory.PlantRecord
                    </td>
                    <td>
                        @recordInventory.Location
                    </td>
                    <td>
                        @recordInventory.PurchaseDate
                    </td>
                    <td>
                        <div style="display: flex;">
                            <a class="btn_trash" asp-action="DeleteInventory" asp-route-id="@recordInventory.Inventory_Id" style="margin-right: 5px;"><ion-icon name="trash-outline"></ion-icon></a>
                            <a class="btn_trash" asp-action="EditInventoryRecord" asp-route-id="@recordInventory.Inventory_Id"><ion-icon name="pencil-outline"></ion-icon></a>
                        </div>
                    </td>
                </tr>
            i++;
        }
    </tbody>
</table>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>