@model IEnumerable<NMEX_Manufacturing_KPIs.Models.Module_Security.SubCategory>
@using System.IO;
@{
	ViewData["Title"] = "Subcategory";
}
<link rel="stylesheet" href="~/css/SubCategoryView.css" asp-append-version="true" />
		
	
<form id="myForm" asp-action="UpdateCalification" method="post" enctype="multipart/form-data">
	<a asp-action="CreateSubCategory" asp-controller="Security" asp-route-id="@Model.First().Category_id" class="btn btn-dark" style="margin-top: 5px;">Nueva Subcategoría</a>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
	<br />
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Descripción de la Categoría</th>
				<th>Subcategoría</th>
				<th>Cargar Archivo</th>
				<th>Calificación</th>
				<th colspan="3">Comentario</th>
			</tr>
		</thead>
		<tbody>
			@{
				string previousCategory = null;
			}

			@foreach (var SubCategory in Model)
			{
				<tr>
					@if (SubCategory.Category_description != previousCategory)
					{
						<td rowspan="@Model.Count(item => item.Category_description == SubCategory.Category_description)" class="CenterTextRowSpan">
							@SubCategory.Category_description
						</td>
					}
					<td>
						@SubCategory.SubCategory_description
					</td>
					<td>
					<input class="custom-file-input" type="file" name="files_@SubCategory.SubCategory_id" id="real-file_@SubCategory.SubCategory_id">
					</td>
					<td>
						<div class="mb-3">
							<input type="hidden" asp-for="@SubCategory.SubCategory_id" />
							<select asp-for="@SubCategory.Result" class="form-select">
								<option value="true">Verdadero</option>
								<option value="false">Falso</option>
							</select>
							<br />
						</div>
					</td>
					<td>
						<input type="text" asp-for="@SubCategory.Comment" class="form-control" />
						<input type="hidden" asp-for="@SubCategory.Function_name" />
						<input type="hidden" asp-for="@SubCategory.Category_name" />
						<input type="hidden" asp-for="@SubCategory.Plant_description" />
					</td>
					<td class="CenterTextRowSpan">
						<a class="btn_trash" asp-action="DeleteSubCategory" asp-route-id="@SubCategory.SubCategory_id"><ion-icon name="trash-outline">xd</ion-icon></a>
					</td>
				</tr>

				@* Actualizar la categoría anterior *@
				previousCategory = SubCategory.Category_description;
			}
		</tbody>
	</table>
	<button type="button" class="btn btn-primary" onclick="submitForm()">Enviar</button>
</form>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/SubCategoryView.js"></script>
	



